package components

import "fmt"

templ CenterLayout(title string) {
	@Html(fmt.Sprintf("TSM - %s", title)) {
		<main class="w-full flex flex-col items-center justify-center gap-4 h-lvh">
			<header class="flex items-center">
				<h1>{ title }</h1>
			</header>
			<div class="flex flex-col gap-4 w-sm">
				{ children... }
			</div>
		</main>
	}
}
