package components

import "github.com/leandrohsilveira/tsm/components/alert"
import "github.com/leandrohsilveira/tsm/components/icon"

templ Error(message string) {
	@alert.Alert(alert.Props{Variant: alert.VariantDestructive}) {
		@icon.TriangleAlert(icon.Props{Size: 16})
		@alert.Title() {
			Error
		}
		@alert.Description() {
			{ message }
		}
	}
}
