@import "tailwindcss";

@source ".";

@theme {
  --color-background: var(--color-gray-900);
  --color-foreground: var(--color-gray-100);

  --color-background-highlight: var(--color-gray-700);

  --color-primary: var(--color-orange-400);
  --color-on-primary: var(--color-orange-50);

  --color-primary-highlight: var(--color-orange-200);
  --color-on-primary-highlight: var(--color-orange-950);

  --color-primary-muted: var(--color-orange-600);
  --color-on-primary-muted: var(--color-orange-50);

  --color-error: var(--color-red-500);
  --color-on-error: var(--color-red-50);

  --color-secondary: var(--color-cyan-600);
  --color-on-secondary: var(--color-cyan-50);

  --color-secondary-highlight: var(--color-cyan-400);
  --color-on-secondary-highlight: var(--color-cyan-950);

  --color-secondary-muted: var(--color-cyan-800);
  --color-on-secondary-muted: var(--color-cyan-50);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-lg font-bold;
  }

  h5 {
    @apply text-base font-bold;
  }

  strong {
    @apply font-bold;
  }
}
