@import "tailwindcss";

@source ".";

@theme {
  --color-backgound: var(--color-gray-900);
  --color-foreground: var(--color-gray-100);
  --color-primary: var(--color-orange-400);
  --color-on-primary: var(--color-orange-50);
  --color-primary-highlight: var(--color-orange-200);
  --color-on-primary-highlight: var(--color-orange-950);
  --color-primary-muted: var(--color-orange-600);
  --color-on-primary-muted: var(--color-orange-50);
}

@layer base {
  body {
    @apply bg-backgound text-foreground;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-lg font-bold;
  }

  h5 {
    @apply text-base font-bold;
  }
}
