package user

import "github.com/leandrohsilveira/tsm/guards"
import "github.com/leandrohsilveira/tsm/components/layout"

templ UserManagePage(users []UserDisplayDto, info *guards.CurrentUserDto) {
	@layout.Page(layout.PageProps{
		Info:  info,
		Title: "Manage users",
	}) {
		@userList(users)
	}
}
