package user

import "github.com/leandrohsilveira/tsm/util"
import "github.com/leandrohsilveira/tsm/components"
import "github.com/leandrohsilveira/tsm/guards"

templ UserManageEditPage(current *UserDisplayDto, info *guards.CurrentUserDto, validationErr *util.ValidationErr) {
	@components.PageContainerLayout("Edit user", info) {
		@userDataForm(userDataFormProps{
			ValidationErr: validationErr,
			Value: userDataFormDto{
				Name:  current.Name,
				Email: current.Email,
			},
		})
	}
}
